<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>
	
	

<h1 th:text="${cabecera}"></h1>
<form th:action="@{/usuarios/usuarios}" th:object="${usuarios}" method="post">
Nombre 
<input type="text" th:field="*{nombre}"/>
<br/>
Cantidad de ejemplares
<input type="text" th:field="*{apellidos}"/>
<br/>
Editorial
<input type="text" th:field="*{direccion}"/>
<br/>
Tematica
<input type="text" th:field="*{email}"/>
<br/>
<input type="submit" value="crear"/>

<input type="hidden" th:field="*{id}"/>

</form>
</body>

</html>