<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${cabecera}"></h1>
<a th:href="@{/libros/form}">Crear libros</a>
<p th:text="'Total de libros : ' + ${cantidad}"></p>
<table>
	<thead>
		<tr>
			<td>id</td>
			<td>NombreDeLibro</td>
			<td>Cantidad</td>
			<td>Editorial</td>
			<td>Tematica</td>
			<td>Acciones</td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="libros: ${libros}">

			<td th:text="${libros.id}"></td>
			<td th:text="${libros.nombreDeLibro}"></td>
			<td th:text="${libros.cantidadDejemplares}"></td>
			<td th:text="${libros.editorial}"></td>
			<td th:text="${libros.tematica}"></td>
			<td><a th:href="@{/libros/borrar/} + ${libros.id}">Borrar</a>
			<td><a th:href="@{/libros/form/} + ${libros.id}">Editar</a>
            </td>

		</tr>	
	</tbody>
	
</table>

</body>
</html>